{% extends 'student/base.html' %}

{% block content %}
<div class="attendance">
  <table>
     <tr>
        <th class="Course">Course</th>
        <th class="Absent">Absent</th>
     </tr>
     <tr>
         {% for enrol, count in absense_records %}
             <td>{{ enrol.offering }}</td>
             <td> {{ count }} </td>
           
         {% endfor %}
        <!--<td>Operating System</td>
        <td>5</td>
        <td class="Alert">1</td>
        -->
     </tr>
  </table>
</div>

{% endblock %}
