{% extends 'student/base.html' %}

{% block content %}

<div class="student-data">
   <h3>Student Data</h3>
   <p>
      <br>
      <div style="display: flex; justify-content: space-between;">
         <div>  
            <span style="font-weight:bold;">Student Name: </span>
            <span>{{ user.userinfo.first_name }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Faculty: </span>
            <span>{{ user.major.faculty }} </span>
            <br>
            <br>
            <span style="font-weight:bold;">Student Major: </span>
            <span>{{ user.major }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Enrollment Status: </span>
            <span>Enrolled</span>
            <br>
            <br>
            <span style="font-weight:bold;">Total Passed CH: </span>
            <span>70</span>
         </div>
         
         <div> 
            <span style="font-weight:bold;">Student ID: </span>
            <span> {{ user.userinfo.username }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Degree: </span>
            <span>B.Sc</span>
            <br>
            <br>
            <span style="font-weight:bold;">Level: </span>
            <span>Level 3</span>
            <br>
            <br>
            <span style="font-weight:bold;">Academic Status: </span>
            <span>Normal</span>
            <br>
            <br>
            <span style="font-weight:bold;">CGPA: </span>
            <span> {{ user.cgpa }} </span>
         </div>
      </div>
   </p>
</div>

{% endblock %}
