{% extends 'student/base.html' %}

{% block content %}


<div class="student-data">
    <div class="column">
        <p>
            <span><strong>Student Data</strong></span><br>
            <span><strong>Student Name:</strong>{{ user.userinfo.get_full_name }}</span><br>
            <span><strong>Faculty:</strong>{{ user.major.faculty }}</span><br>
            <span><strong>Student Major:</strong> {{ user.major }}</span><br>
            <span>
                <strong>Enrollment Status:</strong>
                {% if not user.enrolled %}
                    Not
                {% endif %}
                Enrolled
            </span>
            <br>
            <span><strong>Total Passed CH:</strong> 70</span>
        </p>
    </div>
    <div class="column">
        <p> 
            <br>
            <br>
            <span><strong>Student ID:</strong> {{ user.userinfo.username }} </span><br>
            <span><strong>Degree:</strong> {{ user.major.degree }} </span><br>
            <span><strong>Level:</strong> Level {{ user.level }} </span><br>
            <span><strong>Academic Status:</strong> {{ user.get_academic_status }} </span><br>
            <span><strong>CGPA:</strong> {{ user.cgpa }} </span>
        </p>
    </div>
</div>

{% comment %}
<div class="student-data">

    <div class="column">
        <p>
            <span><strong>Student Data</strong></span><br>
            <span><strong>Student Name:</strong> {{ user.userinfo.get_full_name }}</span><br>
            <span><strong>Faculty:</strong> Computer Science and Information Technology Programs</span><br>
            <span><strong>Student Major:</strong> B.Sc. Computer Science</span><br>
            <span><strong>Enrollment Status:</strong> Enrolled</span><br>
            <span><strong>Total Passed CH:</strong> 70</span>
        </p>
    </div>
    <div class="column">
        <p> 
            <br>
            <br>
            <span><strong>Student ID:</strong> 320210310</span><br>
            <span><strong>Degree:</strong> B.Sc</span><br>
            <span><strong>Level:</strong> Level 3</span><br>
            <span><strong>Academic Status:</strong> Normal</span><br>
            <span><strong>CGPA:</strong> 3</span>
        </p>
    </div>
</div>



{% comment %}
<div class="column">
    <p> 
        <br>
        <br>
        <span><strong>Student ID:</strong> 320210310</span><br>
        <span><strong>Degree:</strong> B.Sc</span><br>
        <span><strong>Level:</strong> Level 3</span><br>
        <span><strong>Academic Status:</strong> Normal</span><br>
        <span><strong>CGPA:</strong> 3</span>
    </p>
</div>
</div>
<h3>Student Data</h3>
<p>
    <br>
    <div style="display: flex; justify-content: space-between;">
        <div>  
            <span style="font-weight:bold;">Student Name: </span>
            <span>{{ user.userinfo.first_name }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Faculty: </span>
            <span>{{ user.major.faculty }} </span>
            <br>
            <br>
            <span style="font-weight:bold;">Student Major: </span>
            <span>{{ user.major }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Enrollment Status: </span>
            <span> {% if not user.enrolled %} Not {% endif %} Enrolled</span>
            <br>
            <br>
            <span style="font-weight:bold;">Total Passed CH: </span>
            <span>70</span>
        </div>

        <div> 
            <span style="font-weight:bold;">Student ID: </span>
            <span> {{ user.userinfo.username }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Degree: </span>
            <span> {{ user.major.degree }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Level: </span>
            <span>Level {{ user.level }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">Academic Status: </span>
            <span> {{ user.get_academic_status }}</span>
            <br>
            <br>
            <span style="font-weight:bold;">CGPA: </span>
            <span> {{ user.cgpa }} </span>
        </div>
    </div>
</p>
</div>
{% endcomment %}

{% endblock %}

