<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>home</title>
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="header">

   <section class="flex">
   <span class="Title-name">Welcome to EGYPT-JAPAN Unversity For Science and Technology</span>
   <div class="icons">
      <div id="search-btn" class="fas fa-search"></div>
      <div id="user-btn" class="fas fa-user"></div>
      <div id="toggle-btn" class="fas fa-sun"></div>
   </div>
   <div class="profile">
     <img src="images/pic-1.jpg" class="image" alt="">
      <h3 class="name">Mo'men Ali</h3>
      <p class="role">student</p>
      <a href="profile.html" class="btn">view profile</a>
      <div class="flex-btn">
         <a href="login.html" class="option-btn">logout</a>
         </div>
      </div>
   </section>
</header>   
<div class="side-bar">
   <div class="logo-details">
      <i class="fa-solid fa-e"></i>
      <div id="menu-btn" class="bx bx-menu"></div>
   </div>
   <div><span class="logo-name">EJUST</span></div>
   <ul>
   <nav class="navbar">
      <li><a href="home.html"><i class="fas fa-home"></i><span class="tooltip">home</span></a></li>
      <li><a href="calander.html"><i class="fas fa-calendar"></i><span class="tooltip">calander</span></a></li>
      <li><a href="attendance.html"><i class="fas fa-clipboard-check"></i><span class="tooltip">attendance</span></a></li>
      <li><a href="req add drop.html"><i class="fas fa-plus-circle"></i><span class="tooltip">reg add/drop</span></a> </li>
      <li><a href="withdraw.html"><i class="fas fa-minus-circle"></i><span class="tooltip">withdraw</span></a> </li>
      <li><a href="payment.html"><i class="fas fa-money-check-alt"></i><span class="tooltip">payment</span></a></li>
      <li><a href="report.html"><i class="fas fa-file-alt"></i><span class="tooltip">report</span></a> </li>
      <li><a href="gpa calculator.html"><i class="fas fa-calculator"></i><span class="tooltip">gpa calculator</span></a></li> 
      <li><a href="result.html"><i class="fas fa-poll"></i><span class="tooltip">result</span></a> </li>
   </nav>
</ul>
</div>
</div>



<div class="student-data">
   <h3>Student Data</h3>
   <p>
      <br>
      <div style="display: flex; justify-content: space-between;">
         <div>  
            <span style="font-weight:bold;">Student Name: </span>
            <span>Mo'men Ali Mohamed Amin</span>
            <br>
            <br>
            <span style="font-weight:bold;">Faculty: </span>
            <span>Computer Science and Information Technology Programs</span>
            <br>
            <br>
            <span style="font-weight:bold;">Student Major: </span>
            <span>B.Sc. Computer Science</span>
            <br>
            <br>
            <span style="font-weight:bold;">Enrollment Status: </span>
            <span>Enrolled</span>
            <br>
            <br>
            <span style="font-weight:bold;">Total Passed CH: </span>
            <span>70</span>
         </div>
         
         <div> 
            <span style="font-weight:bold;">Student ID: </span>
            <span>320210310</span>
            <br>
            <br>
            <span style="font-weight:bold;">Degree: </span>
            <span>B.Sc</span>
            <br>
            <br>
            <span style="font-weight:bold;">Level: </span>
            <span>Level 3</span>
            <br>
            <br>
            <span style="font-weight:bold;">Academic Status: </span>
            <span>Normal</span>
            <br>
            <br>
            <span style="font-weight:bold;">CGPA: </span>
            <span>3</span>
         </div>
      </div>
   </p>
</div>

<footer class="footer">
   &copy; copyright @ 2024 by <span>Mo'men Ali wlso7ba Alkrma</span> | all rights reserved!
</footer>
<script src="js/script.js"></script>
</body>
</html>
