{% extends 'student/base.html' %}

{% block content %}
   <div class="req" style="border: 1px solid black; width: 98%; height: 340px; margin-top: 10   px; margin-left: 1%;">
      <span class="selector-Course">Semster</span>
      <span class="selector-Time">Installment</span>
      <div class="selectors">
      <div class="select-menuA">
         <div class="select-btnA">
            <span class="sBtn-textA">Choose Semster</span>
            <i class="bx bx-chevron-down"></i>
         </div>
         <ul class="optionsA">
            <li class="optionA"><span class="option-textA">First Semster</span></li>
            <li class="optionA"><span class="option-textA">Second Semster</span></li>
            <li class="optionA"><span class="option-textA">Third Semster</span></li>
            <li class="optionA"><span class="option-textA">Fourth Semster</span></li>
            <li class="optionA"><span class="option-textA">Fifth Semster</span></li>
            <li class="optionA"><span class="option-textA">Sixth Semster</span></li>
            <li class="optionA"><span class="option-textA">Seventh Semster</span></li>
            <li class="optionA"><span class="option-textA">Final Semster</span></li>
         </ul>
      </div>
      <div class="select-menuB">
         <div class="select-btnB">
            <span class="sBtn-textB">Choose Installment</span>
            <i class="bx bx-chevron-down"></i>
         </div>
         <ul class="optionsB">
            <li class="optionB"><span class="option-textB">First Installment</span></li>
            <li class="optionB"><span class="option-textB">Second Installment</span></li>
         </ul>
      </div>
   </div>
   <div class="confirm-btn-pos">
      <button class="confirm-btn">Continue</button>
   </div>
   </div>
</section>
{% endblock %}
